<div class="container-md contenedor mt-3">
  <h1 class="mt-2">Lista de Tareas</h1>
  <hr>
  
  <div class="row tareas">
    <div class="col">
      <add-task (emitTask)="this.addTask($event)"></add-task>
      <hr *ngIf="this.tasks.length > 0">
      <tasks-list [tasksList]="this.tasks" 
        (onDeleteTask)="this.deleteTask($event)"
        (onChangeState)="this.changeState($event)">
      </tasks-list>
    </div>
  </div>
  <div class="row">
    <div class="col-4"></div>
    <button 
      *ngIf="this.tasks.length > 0" 
      class="col-4 btn btn-primary mt-2"
      (click)="this.deleteAll()">Borrar Todo</button>
    <div class="col-4"></div>
  </div>
</div>